<div class="card">
  <a lass="atag" href="chatgpt_About"> About Page</a>
  <br>
  <a lass="atag" href="chatgpt_Team">Team Page</a>
  <br>
  <a lass <a class="atag" href="/gpt">chat gpt</a>
</div>

<!-- <div class="card">
  <a href="/gpt">chat gpt</a>
  <br>
  <a href="chatgpt_About"> About Page</a>
  <br>
  <a href="chatgpt_Team">Team Page</a>


</div>
 -->


<style>
  .card {
    margin-top: 6rem;
    width: 300px;
    height: 400px;
    border-radius: 30px;
    background: #e0e0e0;
    box-shadow: 15px 15px 30px #bebebe,
      -15px -15px 30px #ffffff;
  }

  a {
    text-align: center;
    margin-top: 4rem;

  }
</style>