<h1>About the Team</h1>


<div class="card">
  <p>Paras Pandey</p>
  <p>Major: Computer Science</p>
  <p>Year: Rising Junior</p>
  <p>I worked on this project on my own</p>

</div>

<!-- <div class="card">
  <a href="/gpt">chat gpt</a>
  <br>
  <a href="chatgpt_About"> About Page</a>
  <br>
  <a href="chatgpt_Team">Team Page</a>


</div>
 -->


<style>
  .card {
    margin-top: 6rem;
    width: 300px;
    height: 400px;
    border-radius: 30px;
    background: #e0e0e0;
    box-shadow: 15px 15px 30px #bebebe,
      -15px -15px 30px #ffffff;
  }

  p {
    text-align: center;
    margin-top: 2rem;

  }
</style>