<h1>About the chat Gpt program created</h1>

<p>This program was created using Express, Mongoose and EJS. This is similar to the chatgpt where if you ask it
  anyquestion it will answer</p>



<style>
  p {
    margin: 5rem 0 0 5rem;
    width: 30rem;
    height: 20rem;
    font-size: 3rem;
  }
</style>