<h1> GPT APP FOR <%= user.username %>



</h1>

<div class="row">
  <div class="col">

    <p>Here is a list of question you asked</p>



    <form method="post" action="/gpt">
      New Question: <input type="text" name="question">
      <br>

      <input type="submit" value="submit">
    </form>
    <br>
    <br>



    <ul class="list-group">
      <% items.forEach(item=> { %>


        <h4>
          <%= item.question %>
        </h4>
        <br>
        <table>

          <tr>
            <td>
              <%= item.answer %>
            </td>
            <td> <a href="/gpt/remove/<%=item._id %>">
                <i class="bi bi-trash"></i>
              </a>
            </td>
          </tr>
        </table>

        <br>


        <% }) %>

  </div>
</div>
</div>




<style>
  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
  }

  td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;


  }

  h4 {
    border: solid black 1px;
    width: 60rem;
    padding-bottom: 1rem;
  }
</style>